<header>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark static-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <div class="Logo">
                        <a class="navbar-brand" href="{% url 'index' %}">C3 Cinemas</a>
                    </div>
                </li>
            </ul>
        </div>

        {% if request.user.is_authenticated %}
        {% load static %}
        {% if request.user.profile_pic %}
        <a title="Profile" href="{% url 'edit_profile' %}" role="button">
            <img src="{{request.user.profile_pic.url}}" width="50" height="50" alt="" />
        </a>
        {% else %}
        <img src="{% static 'placeholder.png' %}" width="50" height="50" alt="" />
        {% endif %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-danger" href="{% url 'edit_profile' %}" role="button">Profile</a>
            <a class="btn btn-secondary" href="{% url 'logout' %}" role="button">Logout</a>
        </div>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'login' %}" role="button">Login</a>
        {% endif %}

    </nav>
</header>