{% extends "base.html" %} 
{%load crispy_forms_tags %} 
{% block title %}Login{% endblock %} 
{%block content %}
<body style="min-height: 400px; margin-bottom: 100px; clear: both; background-color:#1e1c1c;">
  <br>
  <br>
  <h1 style="color:#eeeeee;" class="text-center">Password Reset Complete!</h1>
  <br>
  <br>

  <p class="text-center" style="color: #eeeeee;">Your Password has been set. You may go ahead and login</p>
  <div class="text-center"><button class="btn btn secondary" href="{%url 'login'%}">Login</button></div>
  <br>
  
  </div>
</body>
{% endblock %}
