{% extends "base.html" %} 
{%load crispy_forms_tags %} 
{% block title %}Login{% endblock %} 
{%block content %}
<body style="min-height: 400px; margin-bottom: 100px; clear: both; background-color:#1e1c1c;">
  <br>
  <br>
  <h1 style="color:#eeeeee;" class="text-center">Reset Password</h1>
  <br>
  <br>

  <div class="form-group container text-white" style="background-color: #343a40;">
    <br>
    {% include '../messages.html' %}
    <form method="POST">
      <p class="text-center">Please enter the email associated with your account</p>
      {% csrf_token %} {{ form | crispy }}
      <div class="text-center"><button class="btn btn secondary">Request Password Reset</button></div>
    </form>
    <br>
  </div>
  <br>

</body>
{% endblock %}
