{% extends "components/base.html" %}
{% block title %}Register Account{% endblock %}
{% block content %}
<body style="min-height: 400px;margin-bottom: 100px;clear: both;">
    <div class="container" style="padding-top:40px; width:50%;">
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>
      
        <!-- Submit button -->
        <button type="button" class="btn btn-secondary btn-block mb-4">Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p style="margin-bottom:2px">Not a member? <a href="{% url 'register' %}">Register</a></p>
          <p><a href="#!">Forgot Password?</a></p>          
        </div>
    </form>
    </div>
</body>
{% endblock %}