{% extends "base.html" %}
{% block title %}Confirmation{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="text-uppercase">Order Confirmation</h1>
      <p class="mt-5">
        Booking number: ABC123
        <br>
        DC League of Super Pets
        <br>
        PG 1h 45m
        <br>
        When: Wednesday, September 21, 2022 at 4:30 PM
        <br>
        1x Adult Ticket
        <br>
        Order total: $11.00
      </p>
      <p>
        Your order is complete! You will be receiving a confirmation email with
        order details.
      </p>
      <button type="button" class="btn btn-success text-uppercase">Explore More Movies</button>
    </div>
  </div>
</div>
{% endblock %}