<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1 class="mb-3 h2">THANK YOU FOR YOUR ORDER</h1>
      <!-- end Jumbotron -->
      <div class="container" style="background-color: #f8f8f8;">
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-uppercase text-center">Order Details</h1>
              <br>
              <div class="border border-3 svg-shadow-lg p-3 bg-light">
                <!-- Body text-->          
                <div class="row">
                  <div class="col col-sm-2" style="color: #666666;">
                    <p>Booking Number: </p>
                  </div>
                  <div class="col">
                    <p>{{booking.id}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-sm-2" style="color: #666666;">
                    <p>Movie Title:</p>
                  </div>
                  <div class="col">
                    <p>{{booking.showing.movie.title}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-sm-2" style="color: #666666;">
                    <p>Showing Details:</p>
                  </div>
                  <div class="col">
                    <p>{{time}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-sm-2" style="color: #666666;">
                    <p>Ticket(s):</p>
                  </div>
                  {% for type, amount in tix.items %}
                  <div class="col">
                    <p>{{amount}}x {{type}}</p>
                  </div>
                  {% endfor %}
                </div>
                <div class="row">
                  <div class="col col-sm-2" style="color: #666666;">
                    <p>Order Total:</p>
                  </div>
                  <div class="col">
                    <p>$ {{booking.price}} USD</p>
                  </div>
                </div>
                <!-- /Body text -->
                <!-- /Return to homepage button -->
                </div>
      
          </div>
        </div>
      </div>
    
</body>
</html>