{% extends "base.html" %}
{% block title %}Order Summary{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="text-uppercase">Order Summary</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <p class="text-uppercase fs-4 mt-4 ib" style="display: inline-block;"><b>{{showing.movie.title}}</b></p>
            <ul class="list-inline fs-5">
                <li class="list-inline-item">{{showing.movie.rating}}</li>
                <li class="list-inline-item">{{showing.movie.runtime}} minutes</li>
            </ul>
            <p class="fs-5" style="display: inline-block;">When: {{showing.showtime}}</p>
            <div>
                <p class="fs-5" style="display: inline-block;">Seats: {{phys_seats}}</p>
            </div>
            <table class="table mt-4">
                <tbody>
                        {% for ticket, amounts in tickets.items %}
                            {% if amounts.0 > 0 %}
                                <tr>
                                    <td>
                                        {% if ticket == 'AD' %}
                                            <p style="display: inline-block;">Adult x{{amounts.0}}</p>
                                        {% elif ticket == 'CH' %}
                                            <p style="display: inline-block;">Child x{{amounts.0}}</p>
                                        {% else %}
                                            <p style="display: inline-block;">Senior x{{amounts.0}}</p>
                                        {% endif %} 
                                    <td>
                                    <td class="text-end">${{ amounts.1|floatformat:2 }}</td>
                                </tr>
                            {% endif %}    
                        {% endfor %}
                    <tr>
                        <td>Subtotal</td>
                        <td class="text-end">${{price.0|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Sales Tax</td>
                        <td class="text-end">${{price.1|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td>Online Fees</td>
                        <td class="text-end">${{price.2|floatformat:2}}</td>
                    </tr>
                    <tr>
                        <td class="text-uppercase"><b>Total</b></td>
                        <td class="text-end">${{price.3|floatformat:2}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-5">
                <button class="btn btn-secondary text-uppercase btn-lg" onclick="history.back()">Back</button>
                <a href="{% url 'checkout' ad=ad ch=ch sr=sr seats=seats show_id=showing.id%}" class="btn btn-primary text-uppercase btn-lg">Continue to checkout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}