{% extends "base.html" %}
{% block title %}Order Summary{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="text-uppercase">Order Summary</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <p class="text-uppercase fs-4 mt-4 ib" style="display: inline-block;"><b>DC League of Super Pets</b></p>
            {% load static %}
            <img src="{% static 'pencil-square.svg' %}" alt="" />
            <ul class="list-inline fs-5">
                <li class="list-inline-item">PG</li>
                <li class="list-inline-item">1h 45m</li>
            </ul>
            <p class="fs-5" style="display: inline-block;">When: Wednesday, September 21, 2022 at 4:30 PM</p>
            {% load static %}
            <img src="{% static 'pencil-square.svg' %}" alt="" />
            <div>
                <p class="fs-5" style="display: inline-block;">Seats: A5</p>
                {% load static %}
                <img src="{% static 'pencil-square.svg' %}" alt="" />
            </div>

            <table class="table mt-4">
                <tbody>
                    <tr>
                        <td>
                            <p style="display: inline-block;">Adult x1</p>
                            {% load static %}
                            <img src="{% static 'pencil-square.svg' %}" alt="" />
                            {% load static %}
                            <img src="{% static 'trash3-fill.svg' %}" alt="" />
                        <td>

                        <td class="text-end">$8.00</td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td class="text-end">$8.00</td>
                    </tr>
                    <tr>
                        <td>Sales Tax</td>
                        <td class="text-end">$2.00</td>
                    </tr>
                    <tr>
                        <td>Online Fees</td>
                        <td class="text-end">$1.00</td>
                    </tr>
                    <tr>
                        <td class="text-uppercase"><b>Total</b></td>
                        <td class="text-end">$11.00</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-5">
                <a href="{% url 'select_tickets_and_age' %}" class="btn btn-secondary text-uppercase btn-lg">Back</a>
                <a href="{% url 'checkout' %}" class="btn btn-primary text-uppercase btn-lg">Continue to checkout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}