{% extends "base.html" %}
{% block title %}Select Show Time{%endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      {% load static %}
      <img src="/media/{{movie.pic }}" class="rounded" alt="" style="width:250px;height:300px" />
      <a href="{{movie.trailer_url}}" target="_blank">Watch Trailer</a>
    </div>
    <div class="col-md-5 text-start">
      <h1 class="text-uppercase">Buy tickets for:</h1>
      <h2 class="text-uppercase">{{movie.title}}</h2>
      <ul class="list-inline font-weight-bold">
        <li class="list-inline-item">{{movie.rating}}</li>
        <li class="list-inline-item">{{movie.runtime}}</li>
        <li class="list-inline-item">{{movie.release_date}}</li>
        <ul class="list-inline">
          <div style="display: flex; flex-direction: row;">
            {% for item in movie.genres %}
            <!-- <li class="list-inline-item">{{item}}</li> -->
            <button type="button" class="list-inline-item btn btn-dark btn-rounded text-uppercase mt-2"
              style="border-radius: 40px;">{{item}}</button>
            {% endfor %}
          </div>
        </ul>
      </ul>
      <p>
        <i> {{movie.tag}}</i>
      </p>
      <p>
        {{movie.synopsis}}
      </p>
      <ul class="list-inline">
        <li class="list-inline-item">Directed by: {{movie.director}}</li>
        <li class="list-inline-item">Producer: {{movie.producer}}</li>
        <br>
        <li class="list-inline-item">Cast:
          <div class="box" style="display:flex;flex-direction:row;width:100px;height:120px">
            {% for actor in movie.actors %}
            <img src="/media/{{actor.1}}" alt="">
            <div> {{actor.0}} </div>
            {% endfor %}
          </div>
        </li>
      </ul>
      <p>Today - Tuesday 20 September</p>
      <button type="button" class="btn btn-light">4:30 PM</button>
      <p>Tomorrow - Wednesday 21 September</p>
      <button type="button" class="btn btn-light">4:30 PM</button>
      <br>
      <div class="mt-4">
        <button type="button" class="btn btn-secondary text-uppercase btn-lg">
          Back
        </button>
        <a href="{% url 'select_seats' %}" class="btn btn-primary text-uppercase btn-lg">Continue</a>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}