{% extends "base.html" %}
{% block title %}Select Seats{% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/select-seats.css">
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="text-uppercase">Select seats for {{showing}}</h1>
            <div class="movie-container">

                <ul class="showcase">
                    <li>
                        <div class="seat"></div>
                        <small>N/A</small>
                    </li>
                    <li>
                        <div class="seat selected"></div>
                        <small>Selected</small>
                    </li>
                    <li>
                        <div class="seat occupied"></div>
                        <small>Occupied</small>
                    </li>
                </ul>
                
                <div class="inner-container">
                    <div class="screen"></div>
                    {% for row in seats %}
                        <div class="row">
                        {% for seat, showing_seat in row.1.items %}
                            {% if showing_seat.reserved %}
                                <div id={{row.0}}{{seat}} class="seat occupied" onclick="select_seat(this)"></div>
                            {% else %}
                                <div id={{row.0}}{{seat}} class="seat" onclick="select_seat(this)"></div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <p class="text">
                    You have selected seat(s) <span id="count"></span>
                </p>
            </div>
            <div class="btn-group">
            <button class="btn btn-secondary text-uppercase btn-lg" style="border-radius: 5px;"onclick="history.back()">Back</button>
            <form method="post">
                {% csrf_token %}
                <button name="chosen_seats" value="" id="select_tickets" style="margin-left: 5px;"class="btn btn-primary text-uppercase btn-lg">Continue</a>
            </form>
            </div>
        </div>
    </div>
</div>

<script>
    var select_tickets = document.getElementById("select_tickets") 
    var selected = []
    const count = document.getElementById("count");
    function select_seat(button) {
        if(!button.classList.contains("occupied")) {
            if (button.classList.contains("selected")) {
                button.classList.remove("selected")
                selected.splice(selected.indexOf(button.id), 1)
            } else {
                button.classList.add("selected")
                selected.push(button.id)
            }
        }
        count.innerHTML = selected
        select_tickets.value = selected
    }

</script>
{% endblock %}