{% extends "base.html" %}
{% block title %}Select Tickets and Age{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="text-uppercase">Select tickets and age</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ticket Type</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Adult</th>
            <td>${{prices.AD}}</td>
            <td>
              <select id="AD_select" class="form-select" onchange="update_prices()" aria-label="Default select example">
                <option selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
            <td id="AD_price">$0.00</td>
          </tr>
          <tr>
            <th scope="row">Child <i>(Age 2-12)</i></th>
            <td>${{prices.CH}}</td>
            <td>
              <select id="CH_select" class="form-select" onchange="update_prices()" aria-label="Default select example">
                <option selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
            <td id="CH_price">$0.00</td>
          </tr>
          <tr>
            <th scope="row">Senior <i>(Age 60+)</i></th>
            <td>${{prices.SR}}</td>
            <td>
              <select id="SR_select" class="form-select" onchange="update_prices()" aria-label="Default select example">
                <option selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </td>
            <td id="SR_price">$0.00</td>
          </tr>
        </tbody>
      </table>
      <p id="remaining" class="text-center">Select 0 remaining ticket.</p>
      <button class="btn btn-secondary text-uppercase btn-lg" style="border-radius: 5px;"onclick="history.back()">Back</button>
      <form method="post">
        {% csrf_token %}
        <button name="order" value="" id="continue" class="btn btn-primary text-uppercase btn-lg disabled">Continue</button>
      </form>    
      </div>
    <div class="col-md-1"></div>
  </div>
</div>

<script>
  var ch_price = document.getElementById("CH_price")
  var ad_price = document.getElementById("AD_price")
  var sr_price = document.getElementById("SR_price")
  var remaining = document.getElementById("remaining")
  var ch_select = document.getElementById("CH_select")
  var ad_select = document.getElementById("AD_select")
  var sr_select = document.getElementById("SR_select")
  var cont_checkout = document.getElementById("continue")
  var num_seats = "Select {{seats|length}} remaining tickets."
  remaining.innerHTML = num_seats
  function update_prices(){
    var ch_val = ch_select.value
    var ad_val = ad_select.value  
    var sr_val = sr_select.value
    var total = parseInt("{{seats|length}}") - parseInt(ch_val) - parseInt(ad_val) - parseInt(sr_val)
    ch_price.innerHTML = "$" + (parseFloat("{{prices.CH}}") * ch_val).toFixed(2)
    ad_price.innerHTML = "$" + (parseFloat("{{prices.AD}}") * ad_val).toFixed(2)
    sr_price.innerHTML = "$" + (parseFloat("{{prices.SR}}") * sr_val).toFixed(2)
    if (total > 0){
      var num_seats = "Select " + String(total) + " remaining tickets."
    } else if (total < 0) {
      var num_seats = "Too many tickets selected. Please select {{seats|length}} ticket(s)."
      if (!cont_checkout.classList.contains("disabled")) { 
        cont_checkout.classList.add("disabled")
      }
    } else {
      var num_seats = "Select " + String(total) + " remaining tickets."
      if (cont_checkout.classList.contains("disabled")) { 
        cont_checkout.classList.remove("disabled")
      }
      tickets = {"AD" : ad_val, "CH" : ch_val, "SR": sr_val}
      cont_checkout.value = tickets
    }
    remaining.innerHTML = num_seats
  }
</script>

{% endblock %}