{% extends "base.html" %} 
{%load crispy_forms_tags %} 
{% block title %}Login{% endblock %} 
{%block content %}

{% include './jumbotron.html' %}

  <br>
  <h1 style="color:#eeeeee;" class="text-center">Add Address</h1>
  <br/>
  <br/>

  <div class="form-group container text-white" style="background-color: #343a40;">
    <br>
    {% include './messages.html' %}
    <form method="POST">
      {% csrf_token %} {{ form | crispy }}
      <button class="btn btn secondary">Add Address</button>
    </form>
    <br>
    <a href="{% url 'add_payment'%}"><button class="btn btn secondary">Next</button></a>
    <br>
    <br>
  </div>
 <br>

</body>
{% endblock %}
