{% extends "base.html" %}
{%load crispy_forms_tags %} 
{% block title %}Edit Profile{% endblock %}
{% block content %}
<body style="min-height: 400px;margin-bottom: 100px;clear: both;">

        <!-- Jumbotron -->
    <div class="bg-image p-5 text-center text-white d-flex flex-column align-items-center justify-content-center" style="background-image: url(../../../media/images/seats_background.jpeg); background-size: cover; width: 100%; height: 50vh;">
        <h1 class="mb-3 h2">Edit Profile</h1>
        {% include "./edit_crumbs.html" %}
    </div>


    <br/>
    <br/>
    <div class="form-group">
        {% include './messages.html' %}
        <img src="{{request.user.profile_pic.url}}" alt="Profile Picture" class="mx-auto d-block" width="200" height="200"/>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <a href="{% url 'password'%}">Change Password</a>
            <br>
            <button type="submit" class="btn btn secondary">Update Profile</button>
        </form>
    </div>
</body>
{% endblock %}