{% extends "components/base.html" %}
{%load crispy_forms_tags %} 
{% block title %}Edit Profile{% endblock %}
{% block content %}
<body style="min-height: 400px;margin-bottom: 100px;clear: both;">
    <h1>Edit Profile</h1>
    <br/>
    <br/>
    <div class="form-group">
        {% include './messages.html' %}
        <img src="{{request.user.profile_pic.url}}" alt="Profile Picture" class="mx-auto d-block" width="200" height="200>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <a href="{% url 'password'%}">Change Password</a>
            <br>
            <button class="btn btn secondary">Update Profile</button>
        </form>
    </div>
</body>
{% endblock %}