{% extends "base.html" %} 
{%load crispy_forms_tags %} 
{% block title %}Edit Address{% endblock %} 
{%block content %}
<body style="min-height: 400px; margin-bottom: 100px; clear: both; background-color: #1e1c1c;">

        <!-- Jumbotron -->
        <div class="bg-image p-5 text-center text-white d-flex flex-column align-items-center justify-content-center" style="background-image: url(../../../media/images/seats_background.jpeg); background-size: cover; width: 100%; height: 50vh;">
          <h1 class="mb-3 h2">Edit Address</h1>
          {% include "./edit_crumbs.html" %}
      </div>
  
      <br/>
      <br/>


  <div class="form-group container text-white" style="background-color: #343a40;">
    <br>
    {% include './messages.html' %}
    <form method="POST">
      {% csrf_token %} {{ form | crispy }}
      <button class="btn btn secondary">Update Address</button>
    </form>
    <br>
    <a href="{% url 'del_address'%}"><button class="btn btn secondary">Delete</button></a>
    <br>
    <br>
  </div>
 <br>
  
</body>
{% endblock %}
