{% extends "base.html" %} 
{%load crispy_forms_tags %} 
{% block title %}Login{% endblock %} 
{%block content %}
<body style="min-height: 400px; margin-bottom: 100px; clear: both; background-color:#1e1c1c;">
  
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block" method="POST">
            {% include './messages.html' %}
            {% csrf_token %}
            <div class="form-group">
              {{ form.username }}
            </div>
            <div class="form-group">
              {{ form.password }}
            </div>
            <div class="form-group">
              <button class="btn btn-secondary btn-lg btn-block">Login</button>
              <span class="float-right"><a href="{%url 'signup'%}">Register</a></span>
              <span><a href="{%url 'password_reset'%}">Forgot Your Password?</a></span>
            </div>
          </form>
      </div>
  </div>
</div>

</body>
{% endblock %}
