{% extends "base.html" %}
{%load crispy_forms_tags %} 
{% block title %}Register{% endblock %}
{% block content %}
{% include './jumbotron.html' %}
    <br/>
    <h1 style="color:black;" class="text-center">Get Started</h1>
    <br/>
    <br/>

    <div class="form-group container text-white" style="background-color: #343a40;">
        <br>
        {% include './messages.html' %}
        <form method="POST">
          {% csrf_token %}
          {{ form | crispy }}
          <button class="btn btn secondary">Register</button>
        </form>
        <br>
      </div>
     <br>

</body>
{% endblock %}