{% extends "components/base.html" %}
{%load crispy_forms_tags %} 
{% block title %}Register{% endblock %}
{% block content %}
<body style="min-height: 400px;margin-bottom: 100px;clear: both;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page"><a href="{% url 'register'%}">Personal Info</a></li>
          <li class="breadcrumb-item"><a href="{% url 'add_address'%}">Add Address</a></li>
          <li class="breadcrumb-item"><a href="{% url 'add_payment'%}">Add Payment</a></li>
        </ol>
    </nav>
    <h1>Register</h1>
    <br/>
    <br/>
    <div class="form-group">
        {% include './messages.html' %}
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn secondary">Register</button>
        </form>
    </div>
</body>
{% endblock %}